<form action="/create" method="post">
    <h2>Create todo</h2>

    <div class="input-field">
        <input type="text" name="content", id="todo-content">
        <label>Todo title</label>

    </div>

    <button id="createButton" type="button" class="btn">Create</button>
</form>

