<h2>Todos page</h2>

{{#if todos.length}}
<ul>
    {{#each todos}}
    <li class="todo">
  <label>
    <input
    id="checkboxTodo{{id}}"
    type="checkbox"
    class="checkboxTodo"
    data-id="{{id}}"
    name="completed"
    {{#if completed}}
    checked
    {{/if}}>

    <span class="{{#if completed}}completed{{/if}}">
      {{content}}
    </span>
  </label>
</li>

    {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}